<tbody>
  <tr>
    <td height="50"></td>
  </tr>
  <tr>
    <td>
      <table width="100%">
        <tbody>
          <tr>
            <td></td>
            <td
              width="468"
              style="background: white; padding: 50px 66px 32px 66px"
            >
              <table
                width="100%"
                cellpadding="0"
                cellspacing="0"
                border="0"
                style="table-layout: fixed; word-wrap: break-word"
              >
                <tbody>
                  <tr>
                    <td height="50" valign="top" align="center">
                      <a
                        href="https://passport.lenovo.com/wauthen5/activeEmailAccount?username=huynhngoanhthai@gmail.com&amp;vc=709360&amp;accountid=1300233911404&amp;lenovoid.cb=https://sso.lenovo.com/ssoserver/authorizeclient/v1/storeTokens/87ddddda545053c9004b8ff3f2034dc700033ea275a17da1df8d3675bcda9356/us.b2bb8adcea20a90adce8b932e7df824cbaed275c4d6a5c97a74fe0ab1241ae740/d872cfc5adb78c8e7d07fcd4726d1d15bfca62051270f8609d3397aeff2ad3d7&amp;lenovoid.realm=appsso.lenovomm.com&amp;lang=en_US&amp;display=&amp;lenovoid.ctx=null&amp;lenovoid.action=uilogin&amp;lenovoid.lang=en_US&amp;lenovoid.uinfo=null&amp;lenovoid.vp=&amp;verifyFlag=0"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://passport.lenovo.com/wauthen5/activeEmailAccount?username%3Dhuynhngoanhthai@gmail.com%26vc%3D709360%26accountid%3D1300233911404%26lenovoid.cb%3Dhttps://sso.lenovo.com/ssoserver/authorizeclient/v1/storeTokens/87ddddda545053c9004b8ff3f2034dc700033ea275a17da1df8d3675bcda9356/us.b2bb8adcea20a90adce8b932e7df824cbaed275c4d6a5c97a74fe0ab1241ae740/d872cfc5adb78c8e7d07fcd4726d1d15bfca62051270f8609d3397aeff2ad3d7%26lenovoid.realm%3Dappsso.lenovomm.com%26lang%3Den_US%26display%3D%26lenovoid.ctx%3Dnull%26lenovoid.action%3Duilogin%26lenovoid.lang%3Den_US%26lenovoid.uinfo%3Dnull%26lenovoid.vp%3D%26verifyFlag%3D0&amp;source=gmail&amp;ust=1662526670193000&amp;usg=AOvVaw0Au5CxsK-mf2dqlvnGIZD5"
                        >Activate your account</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        src="https://ci6.googleusercontent.com/proxy/6w-jA_t4o_dahU0rW0XgkxcMIlVe9CO__mLh92yIu9t6uQzSKsqfyQjXZMkmOGwEqURvwCVI9dn6Km1Wxd37WPkAiGAgxHYPedddZ-sIczTqX3Awddgmow=s0-d-e1-ft#https://passport.lenovo.com/wauthen5/wauth/image/2017/lenovo_logo.png"
                        alt="lenovo"
                        class="CToWUd"
                        data-bit="iit"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td height="95" style="font-size: 26px; color: #333333">
                      YOUR LENOVO ID
                      <span style="color: #e32219">CONFIRMATION</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom: 25px">Hi,there!</td>
                  </tr>
                  <tr>
                    <td
                      style="
                        border-bottom: 2px solid #eaeef0;
                        padding-bottom: 25px;
                      "
                    >
                      Thank you for signing up with Lenovo ID. You're one step
                      closer to completing the setup. For security purposes,
                      please
                      <a
                        href="https://passport.lenovo.com/wauthen5/activeEmailAccount?username=huynhngoanhthai@gmail.com&amp;vc=709360&amp;accountid=1300233911404&amp;lenovoid.cb=https://sso.lenovo.com/ssoserver/authorizeclient/v1/storeTokens/87ddddda545053c9004b8ff3f2034dc700033ea275a17da1df8d3675bcda9356/us.b2bb8adcea20a90adce8b932e7df824cbaed275c4d6a5c97a74fe0ab1241ae740/d872cfc5adb78c8e7d07fcd4726d1d15bfca62051270f8609d3397aeff2ad3d7&amp;lenovoid.realm=appsso.lenovomm.com&amp;lang=en_US&amp;display=&amp;lenovoid.ctx=null&amp;lenovoid.action=uilogin&amp;lenovoid.lang=en_US&amp;lenovoid.uinfo=null&amp;lenovoid.vp=&amp;verifyFlag=0"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://passport.lenovo.com/wauthen5/activeEmailAccount?username%3Dhuynhngoanhthai@gmail.com%26vc%3D709360%26accountid%3D1300233911404%26lenovoid.cb%3Dhttps://sso.lenovo.com/ssoserver/authorizeclient/v1/storeTokens/87ddddda545053c9004b8ff3f2034dc700033ea275a17da1df8d3675bcda9356/us.b2bb8adcea20a90adce8b932e7df824cbaed275c4d6a5c97a74fe0ab1241ae740/d872cfc5adb78c8e7d07fcd4726d1d15bfca62051270f8609d3397aeff2ad3d7%26lenovoid.realm%3Dappsso.lenovomm.com%26lang%3Den_US%26display%3D%26lenovoid.ctx%3Dnull%26lenovoid.action%3Duilogin%26lenovoid.lang%3Den_US%26lenovoid.uinfo%3Dnull%26lenovoid.vp%3D%26verifyFlag%3D0&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw048b9fGQuoN2KoJcDkGErg"
                        >click here</a
                      >
                      to confirm your account.
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-top: 25px">
                      You can additionally log into your Lenovo account with the
                      Lenovo ID as username and this temporary password as the
                      login password.
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold">
                      Your Lenovo ID is:
                      <a href="mailto:huynhngoanhthai@gmail.com" target="_blank"
                        >huynhngoanhthai@gmail.com</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold; padding-bottom: 25px">
                      Temporary Password is: 78645166
                    </td>
                  </tr>
                  <tr>
                    <td>
                      If the link above doesn't work, please copy and paste the
                      URL below in a new browser window to complete the setup.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a
                        href="https://passport.lenovo.com/wauthen5/activeEmailAccount?username=huynhngoanhthai@gmail.com&amp;vc=709360&amp;accountid=1300233911404&amp;lenovoid.cb=https://sso.lenovo.com/ssoserver/authorizeclient/v1/storeTokens/87ddddda545053c9004b8ff3f2034dc700033ea275a17da1df8d3675bcda9356/us.b2bb8adcea20a90adce8b932e7df824cbaed275c4d6a5c97a74fe0ab1241ae740/d872cfc5adb78c8e7d07fcd4726d1d15bfca62051270f8609d3397aeff2ad3d7&amp;lenovoid.realm=appsso.lenovomm.com&amp;lang=en_US&amp;display=&amp;lenovoid.ctx=null&amp;lenovoid.action=uilogin&amp;lenovoid.lang=en_US&amp;lenovoid.uinfo=null&amp;lenovoid.vp=&amp;verifyFlag=0"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://passport.lenovo.com/wauthen5/activeEmailAccount?username%3Dhuynhngoanhthai@gmail.com%26vc%3D709360%26accountid%3D1300233911404%26lenovoid.cb%3Dhttps://sso.lenovo.com/ssoserver/authorizeclient/v1/storeTokens/87ddddda545053c9004b8ff3f2034dc700033ea275a17da1df8d3675bcda9356/us.b2bb8adcea20a90adce8b932e7df824cbaed275c4d6a5c97a74fe0ab1241ae740/d872cfc5adb78c8e7d07fcd4726d1d15bfca62051270f8609d3397aeff2ad3d7%26lenovoid.realm%3Dappsso.lenovomm.com%26lang%3Den_US%26display%3D%26lenovoid.ctx%3Dnull%26lenovoid.action%3Duilogin%26lenovoid.lang%3Den_US%26lenovoid.uinfo%3Dnull%26lenovoid.vp%3D%26verifyFlag%3D0&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw048b9fGQuoN2KoJcDkGErg"
                        >https://passport.lenovo.com/<wbr />wauthen5/activeEmailAccount?<wbr />username=huynhngoanhthai@<wbr />gmail.com&amp;vc=709360&amp;accountid=<wbr />1300233911404&amp;lenovoid.cb=<wbr />https://sso.lenovo.com/<wbr />ssoserver/authorizeclient/v1/<wbr />storeTokens/<wbr />87ddddda545053c9004b8ff3f2034d<wbr />c700033ea275a17da1df8d3675bcda<wbr />9356/us.<wbr />b2bb8adcea20a90adce8b932e7df82<wbr />4cbaed275c4d6a5c97a74fe0ab1241<wbr />ae740/<wbr />d872cfc5adb78c8e7d07fcd4726d1d<wbr />15bfca62051270f8609d3397aeff2a<wbr />d3d7&amp;lenovoid.realm=appsso.<wbr />lenovomm.com&amp;lang=en_US&amp;<wbr />display=&amp;lenovoid.ctx=null&amp;<wbr />lenovoid.action=uilogin&amp;<wbr />lenovoid.lang=en_US&amp;lenovoid.<wbr />uinfo=null&amp;lenovoid.vp=&amp;<wbr />verifyFlag=0</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        border-bottom: 2px solid #eaeef0;
                        padding: 25px 0 25px 0;
                      "
                    >
                      The Lenovo ID Team
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        font-size: 18px;
                        font-weight: bold;
                        padding: 25px 0 6px 0;
                      "
                    >
                      Need to SET or RESET your password?
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Just
                      <a
                        href="https://passport.lenovo.com/wauthen5/wauth/jsp/resetPassword.jsp?lang=en_US&amp;username=huynhngoanhthai@gmail.com&amp;vc=946022&amp;lenovoid.realm=appsso.lenovomm.com&amp;lenovoid.cb=https://sso.lenovo.com/ssoserver/authorizeclient/v1/storeTokens/87ddddda545053c9004b8ff3f2034dc700033ea275a17da1df8d3675bcda9356/us.b2bb8adcea20a90adce8b932e7df824cbaed275c4d6a5c97a74fe0ab1241ae740/d872cfc5adb78c8e7d07fcd4726d1d15bfca62051270f8609d3397aeff2ad3d7&amp;display=&amp;lenovoid.ctx=null&amp;lenovoid.action=uilogin&amp;lenovoid.uinfo=null&amp;lenovoid.vp=&amp;verifyFlag=0"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://passport.lenovo.com/wauthen5/wauth/jsp/resetPassword.jsp?lang%3Den_US%26username%3Dhuynhngoanhthai@gmail.com%26vc%3D946022%26lenovoid.realm%3Dappsso.lenovomm.com%26lenovoid.cb%3Dhttps://sso.lenovo.com/ssoserver/authorizeclient/v1/storeTokens/87ddddda545053c9004b8ff3f2034dc700033ea275a17da1df8d3675bcda9356/us.b2bb8adcea20a90adce8b932e7df824cbaed275c4d6a5c97a74fe0ab1241ae740/d872cfc5adb78c8e7d07fcd4726d1d15bfca62051270f8609d3397aeff2ad3d7%26display%3D%26lenovoid.ctx%3Dnull%26lenovoid.action%3Duilogin%26lenovoid.uinfo%3Dnull%26lenovoid.vp%3D%26verifyFlag%3D0&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw38QcQKuVx75T-GR2wtKa7O"
                        >click here</a
                      >, or copy and paste the URL below in a web browser
                      window.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a
                        href="https://passport.lenovo.com/wauthen5/wauth/jsp/resetPassword.jsp?lang=en_US&amp;username=huynhngoanhthai@gmail.com&amp;vc=946022&amp;lenovoid.realm=appsso.lenovomm.com&amp;lenovoid.cb=https://sso.lenovo.com/ssoserver/authorizeclient/v1/storeTokens/87ddddda545053c9004b8ff3f2034dc700033ea275a17da1df8d3675bcda9356/us.b2bb8adcea20a90adce8b932e7df824cbaed275c4d6a5c97a74fe0ab1241ae740/d872cfc5adb78c8e7d07fcd4726d1d15bfca62051270f8609d3397aeff2ad3d7&amp;display=&amp;lenovoid.ctx=null&amp;lenovoid.action=uilogin&amp;lenovoid.uinfo=null&amp;lenovoid.vp=&amp;verifyFlag=0"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://passport.lenovo.com/wauthen5/wauth/jsp/resetPassword.jsp?lang%3Den_US%26username%3Dhuynhngoanhthai@gmail.com%26vc%3D946022%26lenovoid.realm%3Dappsso.lenovomm.com%26lenovoid.cb%3Dhttps://sso.lenovo.com/ssoserver/authorizeclient/v1/storeTokens/87ddddda545053c9004b8ff3f2034dc700033ea275a17da1df8d3675bcda9356/us.b2bb8adcea20a90adce8b932e7df824cbaed275c4d6a5c97a74fe0ab1241ae740/d872cfc5adb78c8e7d07fcd4726d1d15bfca62051270f8609d3397aeff2ad3d7%26display%3D%26lenovoid.ctx%3Dnull%26lenovoid.action%3Duilogin%26lenovoid.uinfo%3Dnull%26lenovoid.vp%3D%26verifyFlag%3D0&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw38QcQKuVx75T-GR2wtKa7O"
                      >
                        https://passport.lenovo.com/<wbr />wauthen5/wauth/jsp/<wbr />resetPassword.jsp?lang=en_US&amp;<wbr />username=huynhngoanhthai@<wbr />gmail.com&amp;vc=946022&amp;lenovoid.<wbr />realm=appsso.lenovomm.com&amp;<wbr />lenovoid.cb=https://sso.<wbr />lenovo.com/ssoserver/<wbr />authorizeclient/v1/<wbr />storeTokens/<wbr />87ddddda545053c9004b8ff3f2034d<wbr />c700033ea275a17da1df8d3675bcda<wbr />9356/us.<wbr />b2bb8adcea20a90adce8b932e7df82<wbr />4cbaed275c4d6a5c97a74fe0ab1241<wbr />ae740/<wbr />d872cfc5adb78c8e7d07fcd4726d1d<wbr />15bfca62051270f8609d3397aeff2a<wbr />d3d7&amp;display=&amp;lenovoid.ctx=<wbr />null&amp;lenovoid.action=uilogin&amp;<wbr />lenovoid.uinfo=null&amp;lenovoid.<wbr />vp=&amp;verifyFlag=0
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        border-bottom: 2px solid #eaeef0;
                        padding: 25px 0 25px 0;
                      "
                    >
                      Please do not reply to this email. The mailbox that
                      generated this email is not monitored for replies.
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="padding: 25px 0 20px 0; font-size: 11px"
                    >
                      <a
                        style="color: #000"
                        href="http://shop.lenovo.com/us/en/portals/communications/?CID=EDM_NA_US_2015_LID"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=http://shop.lenovo.com/us/en/portals/communications/?CID%3DEDM_NA_US_2015_LID&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw0afSVaaQd9dNNcg3sjK7TT"
                        >SUBSCRIBE</a
                      >&nbsp;|&nbsp;<a
                        style="color: #000"
                        href="https://passport.lenovo.com/staticid/en/privacy.html"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://passport.lenovo.com/staticid/en/privacy.html&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw3LonghH09hDQteGm9jYpgv"
                        >PRIVACY POLICY</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: center">
                      <a
                        href="https://twitter.com/lenovoUS"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/lenovoUS&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw0HeoWYM7_xMwh3UERyiS04"
                        ><img
                          src="https://ci3.googleusercontent.com/proxy/y-OK_hqXRsJeiNWpdL-9HSjCfzyib0NJa85Ahl5v6E_l-SeDdTkZHzsd1s1jHsMmfVlutqfUfElqC_XDchsCJuPQGwIJqtkItKS7Z3bLBKllN2CjnY0=s0-d-e1-ft#https://passport.lenovo.com/wauthen5/wauth/image/2017/msn_small.png"
                          alt=""
                          class="CToWUd"
                          data-bit="iit" /></a
                      >&nbsp;&nbsp;&nbsp;
                      <a
                        href="https://plus.google.com/+Lenovo"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://plus.google.com/%2BLenovo&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw310L2YBnvnqos_QFl84QJ2"
                        ><img
                          src="https://ci5.googleusercontent.com/proxy/D9hnGQeYeBpoxxQlAhIyXwFIphTiElYw4EhlUIX12bsgPoctV91uCpZIZJrqE4sSthbECDxpGkhOqyilrh-bN5BNbM5VygVbf4PqgSE3PkbWK6Gh0cuhWQY=s0-d-e1-ft#https://passport.lenovo.com/wauthen5/wauth/image/2017/google_small.png"
                          alt=""
                          class="CToWUd"
                          data-bit="iit" /></a
                      >&nbsp;&nbsp;&nbsp;
                      <a
                        href="https://www.facebook.com/lenovoUS"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/lenovoUS&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw3iLICNxnIT7ABwvV8p_4Uo"
                        ><img
                          src="https://ci5.googleusercontent.com/proxy/OuxKe-o97CYVKGkFgNCo8-Dj8uXBHOe5pn2RZUmwIYG4vISeuQqGQ_Ks7cd3uI9qtnatwCVrb3gaqDyC83QvkwaegQElHSBindcuoIsk6tyEYLpqvqHshkaX6g=s0-d-e1-ft#https://passport.lenovo.com/wauthen5/wauth/image/2017/facebook_small.png"
                          alt=""
                          class="CToWUd"
                          data-bit="iit" /></a
                      >&nbsp;&nbsp;&nbsp;
                      <a
                        href="https://www.pinterest.com/lenovous/‎"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://www.pinterest.com/lenovous/%E2%80%8E&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw19EdVPehho6ajrwx9azy14"
                        ><img
                          src="https://ci6.googleusercontent.com/proxy/I8Sc3g_QN9u4mnGEmCMOq2gMyBXKQwy4PdX9atgXV__1-JQA_iTWCKxCujLj61NV6SSEHzqa2IvI8lKZDGcIA2ejmxhe99FKg309NKuA223mIVsn17qjRFANWC0=s0-d-e1-ft#https://passport.lenovo.com/wauthen5/wauth/image/2017/pinterest_small.png"
                          alt=""
                          class="CToWUd"
                          data-bit="iit" /></a
                      >&nbsp;&nbsp;&nbsp;
                      <a
                        href="https://www.youtube.com/user/LenovoVision"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/user/LenovoVision&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw0dsxbkJ9fvvJPufceTYHYY"
                        ><img
                          src="https://ci3.googleusercontent.com/proxy/RyX1qczm37RCvFjeBuOVosjqeavVEpibJSSRYLAFGp5Bkgm0VPFtRmNK9BZ45UfjgbnC3yRlLekBjn4aRVc7VzGPrGRSKxsBuoyJ_OR6aMsLqi_hacxwZy0=s0-d-e1-ft#https://passport.lenovo.com/wauthen5/wauth/image/2017/player_small.png"
                          alt=""
                          class="CToWUd"
                          data-bit="iit" /></a
                      >&nbsp;&nbsp;&nbsp;
                      <a
                        href="https://www.flickr.com/photos/lenovophotolibrary"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://www.flickr.com/photos/lenovophotolibrary&amp;source=gmail&amp;ust=1662526670194000&amp;usg=AOvVaw0u-rCUOI2k_3pLIfodRTqF"
                        ><img
                          src="https://ci5.googleusercontent.com/proxy/L6KHXuaaraveb6g1c5oCbXk6pKBr9vLIoYuyPmX6JSC73o2RTtMPVxE28aJ4AsIigmcDdzMyIpn5zYEePdWMIBCVLpaEYgxDW5QV-DnB3KGfIAZY4AQ2=s0-d-e1-ft#https://passport.lenovo.com/wauthen5/wauth/image/2017/more_small.png"
                          alt=""
                          class="CToWUd"
                          data-bit="iit"
                      /></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table
        cellpadding="0"
        cellspacing="0"
        border="0"
        width="100%"
        style="text-align: center; font-size: 12px"
      >
        <tbody>
          <tr>
            <td style="padding: 20px 0 14px 0">
              Trademarks: Lenovo and the Lenovo logo are trademarks of Lenovo.
            </td>
          </tr>
          <tr>
            <td style="line-height: 1.2">
              Lenovo Marketing (EDM)<br />
              1009 Think Place<br />
              Morrisville, NC 27560
            </td>
          </tr>
          <tr>
            <td style="padding-top: 16px">
              © Lenovo 2019. All rights reserved.
            </td>
          </tr>
          <tr>
            <td height="30"></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
